<footer class="">

  <div class="footer-links">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <p>Company</p>
        <ul>
          <li><a href="javascript:void(0)">Privacy and Policy</a></li>
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a href="javascript:void(0)">Terms of use</a></li>
          <li><a href="javascript:void(0)">Customer Service</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6">
        <p>Account</p>
        <ul>
          <li><a href="javascript:void(0)">Sign In</a></li>
          <li><a href="javascript:void(0)">Register</a></li>
          <li><a href="javascript:void(0)">Returns</a></li>
          <li><a href="javascript:void(0)">Order Status</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-6">
        <p>About Us</p>
        <ul>
          <li><a href="javascript:void(0)">Our Story</a></li>
          <li><a href="javascript:void(0)">Email Signup</a></li>
          <li><a href="javascript:void(0)">Services</a></li>
          <li><a href="javascript:void(0)">Blogs</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p>Subscribe</p>
        <form class="form-inline form-subscribe my-2 my-lg-0 text-center">
          <input class="form-control mr-sm-2" type="search" placeholder="Email Id"/>
          <button class="btn my-2 my-sm-0" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3 copyright">
    © 2020 Copyright:
    <a class="text-dark" href="https://oauth.devvelocity.com/b2c_english/">Magento 2 CX</a>
  </div>
  <!-- Copyright -->
</footer>