.product-details {
    h1 {
        font-size: 25px;
    }

    p.sku {
        color: #777;
    }

    p.price {
        font-size: 20px;
        font-weight: 700;
    }
}


// for stars

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14pt;
    letter-spacing: 5px;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #b1b1b1;
}
.full-stars:before {
    -webkit-text-stroke: 1px #000;
}