<div class="container">
    <div class="register-form">
        <div class="card">
            <div class="text-center">
            <h1>Signup</h1>
            <h6>Register Yourself</h6>
            </div>
            <form>
            <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="mb-3 form-group">
                <label for="fullname" class="form-label">Full name</label>
                <input
                    formControlName="fullname"
                    type="text"
                    class="form-control"
                    id="fullname"
                    ngModel
                    required
                />
                </div>
                <div class="mb-3 form-group">
                <label 
                    for="email" 
                    class="form-label"
                    required >Email address</label
                >
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    id="email"
                    ngModel
                />
                </div>
                <div class="mb-3 form-group">
                <label for="password" class="form-label" required min-length="6">Password</label
                >
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    id="password"
                />
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
                <div class="form-group">
                <a [routerLink]="['/login']">Already a User? Click here to Login!!</a>
                </div>
            </form>
            </form>
        </div>
    </div>
</div>
