$primary-color: #000; 

.category-tabs.nav-tabs {
    border: 0;
    display: flex;
    justify-content: space-between;
        li {
            list-style-type: none;

            &.root-level.active > a {
                border: none;
                border-bottom: 1px solid rgba(0,0,0,.15);
            }

        a {
            color: $primary-color;
            text-decoration: none;
            padding: 5px;

            &:hover {
                border: none;
                background: none;
                outline: 0;
                padding: 5px;
            }
            
            &.root-cat:hover {
                border: none;
                border-bottom: 1px solid rgba(0,0,0,.15);
            }
        }
    }
}
a.root-cat {
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
ul.second-level-cat {
    padding: 0;
}
.second-level-cat a {
    font-size: 13px;
    display: inline-block;
}

ul.third-level-cat {
    padding-left: 15px;
}
ul.third-level-cat li a {
    font-size: 12px;
    margin: 0;

    &::before {
        content: " - ";
    }
}