<div class="products">  
    <ng-container *ngFor="let product of productList">
      <!-- <div class="product" (click)="openPdp(product.sku)"> -->
        <div class="product" [routerLink]="['/product', product.sku]">
        <div class="product-thumb-container">
            <img *ngIf="product.imgSrc" src="{{ product.imgSrc }}" alt="thumbnail" class="product-thumbnail"/>
            <p *ngIf="!product.imgSrc">No image</p>
        </div>
        <div class="product-description">
          <p class="product-name">{{ product.name }}</p>
        </div>
      </div>
    </ng-container> 
  </div>