.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.product {
    width: 23%;
    margin: 10px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    // box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border: 1px solid rgba(0,0,0,.15);
    transition-duration: 0.3s;
    cursor: pointer;
  
    &:hover {
      box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
      transform: translateY(-3px);
    }
  
    &-thumb-container {
      position: relative;
      height: 172px;
      color: #000;
      text-align: center;
    }
  
    &-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 172px;
    }
  
    &-description {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // height: 157px;
    }
  
    &-name {
      color: #000;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &-platforms {
      display: flex;
    }
  
    &-platform {
      width: 20px;
      margin-right: 10px;
    }
  }

// mobile
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .product {
      width: 44%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .product {
      width: 22%;
    }
}