<div class="additional-information">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#specification">Specification</a></li>
        <li><a data-toggle="tab" href="#highlights">Highlights</a></li>
    </ul>

    <div class="tab-content">
        <div id="specification" class="tab-pane fade in active">
            <ul class="nav nav-tabs">
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
        </div>
        <div id="highlights" class="tab-pane fade">
            <ul class="nav nav-tabs">
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
                <li><span>Lorem ipsum dolor sit amet</span> : <span>consectetur adipisicing elit</span></li>
            </ul>
        </div>
    </div>
</div>